body {
  margin: 0;
  height: 100vh;
  background-image: url("images/background10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.reset {
  font-size: 22px;
  margin-bottom: 70px;
  background-color: #43302e;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: 4px solid transparent;
  border-image: linear-gradient(
    45deg,
    #dfc505 0%,
    #bfa204 25%,
    #997f03 50%,
    #bfa204 75%,
    #dfc505 100%
  );
  border-image-slice: 1; /* Ensures full gradient fills the border */
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.747);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.reset:hover {
  transform: scale(1.05);
}

.board {
  height: 500px;
  width: 500px;
  background-image: url("images/wooden_board2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.747);
  margin-bottom: 50px;
}

.grid-container {
  position: relative;
  top: 23px;
  left: 23px;
  height: 455px;
  width: 455px;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol0 {
  grid-area: a;
}

.symbol1 {
  grid-area: b;
}

.symbol2 {
  grid-area: c;
}

.symbol3 {
  grid-area: d;
}

.symbol4 {
  grid-area: e;
}

.symbol5 {
  grid-area: f;
}

.symbol6 {
  grid-area: g;
}

.symbol7 {
  grid-area: h;
}

.symbol8 {
  grid-area: i;
}

.profile1 {
  background-image: url("images/profile11.png");
  left: 40px;
  transform: rotate(-10deg);
}

.profile2 {
  background-image: url("images/profile12.png");
  right: 40px;
  transform: rotate(10deg);
}

.profile {
  height: 450px;
  width: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-content img {
  z-index: 1;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.profile-content {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43302e;
  border-radius: 25px;
  padding: 20px 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-info a {
  margin: 5px 0px;
  background-color: #b06400a7;
  padding: 5px;
  border-radius: 10px;
}

.player-info a img {
  margin: 0;
}

/* Window to show winner or Draw*/
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 30vw;
  height: 40vh;
  background-color: #b06500;
  background-image: linear-gradient(315deg, #b06500 0%, #5a321a 74%);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 16px;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

#closeModal,
.sound {
  padding: 8px 16px;
  font-size: 20px;
  color: white;
  border: 4px solid transparent;
  border-image: linear-gradient(
    45deg,
    #dfc505 0%,
    #bfa204 25%,
    #997f03 50%,
    #bfa204 75%,
    #dfc505 100%
  );
  border-image-slice: 1; /* Ensures full gradient fills the border */
  background-color: #43302e;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.747);
  cursor: pointer;
}

#closeModal:hover,
.sound:hover {
  transform: scale(1.03);
}

.sound {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.sound p {
  margin: 0 0 0 10px;
}
